@import "node_modules/normalize.css/normalize";

*{
  box-sizing: border-box;
}

body{
  font-size: 5vw;
}

.container{
  position: relative;
}

.section-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  transition: transform 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  &.is-hidden{
    transform: translateY(-100%);
  }
}



.config-row{
  display: flex;
  font-size: 2rem;
  height: 3.5rem;
  align-items: center;
  justify-content: space-around;
}


.config-label{
  flex: auto;
  line-height: 30px;
  margin-right: 13px;
}


.int-input{
  display: flex;
  align-items: stretch;
  height: 2.5rem;

  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 2.5rem;

    &:hover{
      background: #ededed;
    }

    &:focus{
      outline: none;
    }
  }

  input{
    width: 4rem;
    text-align: center;
    height: 100%;
    flex: auto;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    text-align: center;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &:focus{
      outline: none;
      border-bottom-color: blue;
    }
  }
}
button[disabled]{
  opacity: 0.5;
}

.duration{
  margin: 1rem 0;
}

.duration-label{
  font-size: 1.4rem;
  margin-bottom: -0.4rem;
}

.duration-value{
  font-size: 5rem;
}

.duration-time{
  font-size: 7rem;
}

.duration-num{
  font-size: 6rem;
}

.duration-denom{
  font-size: 3rem;
  color: #444;
}

.stage{

  &.is-prepare{
    background-color: #ececec;
  }

  &.is-work{
    background-color: lighten(red, 30%);
  }

  &.is-rest{
    background-color: lighten(#3D9970, 10%);
  }
}

.stage-section{
  padding: 0 1rem;
  max-width: 600px;
}

@media (min-width:320px){
  .stage-section{
    width: 100%;
  }
}

.stage-info-wrap{
  display: flex;
}
.stage-info{
  width: 50%;
}

.buttons{
  margin-top: 1rem;
  line-height: 1.8rem;
}
.buttons .btn{
  margin-bottom: 5px;
}

.btn{
  padding: 0.5rem 1rem;
  border: none;
  background: #555;
  color: white;
}
.btn-lg{
  width: 100%;
  font-size: 1.4rem;
}
.btn-start{
  padding: 1rem;
}
